.main-section {
    background-image: url('../img/portada.jpeg');
    background-size: cover; 
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}



.card {
    height: 100px;
}

.card img {
    height: 250px;
}